@font-face {
  font-family: BrickPrimary;
  font-weight: normal;
  font-style: normal;
  src: url("./primary.otf");
}

@font-face {
  font-family: BrickSecondary;
  font-weight: normal;
  font-style: normal;
  src: url("./secondary.otf");
}

body {
  font-family: "BrickPrimary", sans-serif;
}

footer {
  font-family: "BrickSecondary", sans-serif;
}
