@font-face {
  font-family: Retro;
  font-weight: normal;
  font-style: normal;
  src: url("./retro.ttf") format("truetype");
}

@font-face {
  font-family: BrickTiny;
  font-weight: normal;
  font-style: normal;
  src: url("./tiny-plain.woff2") format("woff2");
}

@font-face {
  font-family: BrickTinyBold;
  font-weight: normal;
  font-style: normal;
  src: url("./tiny-bold.woff2") format("woff2");
}

@font-face {
  font-family: BrickSmall;
  font-weight: normal;
  font-style: normal;
  src: url("./small-plain.woff2") format("woff2");
}

@font-face {
  font-family: BrickSmallBold;
  font-weight: normal;
  font-style: normal;
  src: url("./small-bold.woff2") format("woff2");
}

@font-face {
  font-family: BrickMedium;
  font-weight: normal;
  font-style: normal;
  src: url("./medium-bold.woff2") format("woff2");
}

@font-face {
  font-family: BrickLarge;
  font-weight: normal;
  font-style: normal;
  src: url("./large-bold.woff2") format("woff2");
}

header {
  font-family: "BrickTiny", sans-serif;
}

body {
  font-family: "BrickMedium", sans-serif;
}

footer {
  font-family: "BrickSmallBold", sans-serif;
}
