html {
  --c-green: #8c9c7b;
  --c-black: #000000;
  --c-black-alpha: rgba(0, 0, 0, 0.7);
  --c-trans: var(--c-green);
}

html,
body {
  font-size: 15vh;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  width: calc(100vh * 1.374);
  height: 100vh;
}

canvas {
  display: block;
  margin: 0 auto;
}

footer {
  line-height: 1;
  font-size: 12.5vh;
  margin-top: 3vh;
  text-align: center;
}
