html,
body {
  font-size: 15vh;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  width: calc(100vh * var(--vw-ratio));
  height: 100vh;
}

canvas {
  display: block;
  margin: 0 auto;
}

footer {
  line-height: 1;
  font-size: 12.5vh;
  margin-top: 3vh;
  text-align: center;
}
